In [2]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [3]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [10]:
student_data.loc[155, 'writing score']

88

In [11]:
student_data.count()

gender                         1000
race/ethnicity                 1000
parental level of education    1000
lunch                          1000
test preparation course        1000
math score                     1000
reading score                  1000
writing score                  1000
dtype: int64

In [19]:
student_data.describe(include=['object'])

,gender,race/ethnicity,parental level of education,lunch,test preparation course
count,1000,1000,1000,1000,1000
unique,2,5,6,2,2
top,female,group C,some college,standard,none
freq,518,319,226,645,642

In [22]:
round(student_data['math score'].mean())

66

In [26]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [30]:
round(student_data[student_data['test preparation course'] == 'completed']['writing score'].mean())

74

In [36]:
student_data[student_data['math score'] == 0]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
59,female,group C,some high school,free/reduced,none,0,17,10

In [41]:
round(student_data[student_data['lunch'] == 'standard']['math score'].mean())

70

In [42]:
round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

59

In [49]:
round(student_data[student_data['parental level of education'] == "bachelor's degree"]['gender'].count()/1000*100)

12

In [51]:
student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0]

118

In [56]:
groupA_median = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
groupC_median = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].median()
print(abs(groupA_median - groupC_median))

6.0